.coder-img{
    width: 150px;
}

.card{
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-image: linear-gradient(30deg, rgba(144, 185, 238, 30), rgba(179, 142, 43, 30));
}